.customcb {
  display: block;
  ////width: 17px;
  ////height: 17px;
  ////margin: 2px 0 2px 0;
  //background: #ddd;
  //border-radius: 100%;
  //position: relative;
  //-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  //-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  //box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}
.customcb label.inner {
  display: block;
  width: 12.75px;
  height: 12.75px;
  border-radius: 100px;
  //-webkit-transition: all .5s ease;
  //-moz-transition: all .5s ease;
  //-o-transition: all .5s ease;
  //-ms-transition: all .5s ease;
  //transition: all .5s ease;
  cursor: pointer;
  //position: absolute;
  top: 2.125px;
  left: 2.125px;
  z-index: 1;
  background: #eee;
  //-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
  //-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
  //box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5)
}
.customcb label.outer {
  margin-left: 25px;
}
.customcb [type=checkbox] {
  display: none
}
//.customcb input[type=checkbox]:checked+label.inner {
//  background: red
//}
.customcb input[type=checkbox]:checked+label.inner {
  background: #d61
}
.customcb input[type=checkbox]:checked ~ label.outer {
  background: #d61
}
.green.customcb input[type=checkbox]:checked+label.inner {
  background: green
}