.customcb {
  display: block;
}

.customcb label.inner {
  display: block;
  width: 12.75px;
  height: 12.75px;
  border-radius: 100px;
  cursor: pointer;
  top: 2.125px;
  left: 2.125px;
  z-index: 1;
  background: #eee;
}

.customcb label.outer {
  margin-left: 25px;
}

.customcb [type=checkbox] {
  display: none;
}

.customcb input[type=checkbox]:checked + label.inner {
  background: #d61;
}

.customcb input[type=checkbox]:checked ~ label.outer {
  background: #d61;
}

.green.customcb input[type=checkbox]:checked + label.inner {
  background: green;
}

/*# sourceMappingURL=style.css.map */
