body {
  background-color: darkcyan;

  .epuff {
    margin-top: 11px;
    padding-bottom: 100px;
  }

  .trash {
    height: 200px;
    overflow: hidden;
     padding: 40px;
  }

  .gallery {
    float: left;

    li {
      float: left;
      list-style: none;
      margin: 10px;
    }
  }
}

.ui-droppable-hover {
  font-weight: unset;
  color: black;
  background-color: burlywood;
  border: 1px dashed #eb8f00;
}
