body {
  background-color: darkcyan;
}
body .epuff {
  margin-top: 11px;
  padding-bottom: 100px;
}
body .trash {
  height: 200px;
  overflow: hidden;
  padding: 40px;
}
body .gallery {
  float: left;
}
body .gallery li {
  float: left;
  list-style: none;
  margin: 10px;
}

.ui-droppable-hover {
  font-weight: unset;
  color: black;
  background-color: burlywood;
  border: 1px dashed #eb8f00;
}

/*# sourceMappingURL=style.css.map */
