.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contacts div {
  width: 200px;
  height: 60px;
  border: 1px solid gray;
}

/*# sourceMappingURL=about.css.map */
