.slider {
  margin: auto;
  width: 200px;

}

.slick-slide {
  margin: 0px 20px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
}

.slick-current {
  opacity: 1;
}