.main-txt {
  height: 80vh;
}

form * {
  margin-top: 10px;
  margin-left: 10px;
}
form input[name=email] {
  margin-left: 13px;
}
form textarea {
  margin-left: 68px;
  width: 300px;
  height: 100px;
  resize: none;
}
form button {
  margin-left: 68px;
}

/*# sourceMappingURL=contuct.css.map */
