
.product-block {
  position: relative;
  display: grid;
  grid-template-columns:  auto;
  grid-gap: 5px;
  justify-content: space-evenly;

  .product-card {
    display: flex;
    width: 400px;
    height: 200px;
    border: 1px solid orange;
    flex-direction: column;
    font-family: "Roboto", sans-serif, serif;
    padding: 10px;
    color: gray;
    text-decoration: none;


    &:hover {
      border-width: 3px;
      padding: 8px;

      .name {
        text-decoration: underline;
      }
    }

    .top-bar {
      width: 400px;
      display: flex;
      flex-direction: row;

      .off-size {
        border-radius: 50%;
        background-color: chocolate;
        width: 50px;
        height: 50px;
        text-align: center;
        position: absolute;
        color: white;

        span {
          position: absolute;
          top: 50%;
          width: 45px;
          transform: translate(-50%, -50%);
        }
      }

      .name {
        display: block;
        margin-top: 70px;
        width: 200px;
      }

      img {
        width: 160px;
        margin-left: auto;
      }
    }

    .price-bar {
      display: flex;
      flex-direction: row;
      border-bottom: 2px dotted gray;

      .price {
        color: chocolate;
      }

      .old-price {
        color: gray;
        position: relative;

        &:before {
          content: "";
          border-bottom: 3px solid gray;
          position: absolute;
          width: 100%;
          height: 50%;
          transform: rotate(12deg);
        }
      }

      * {
        margin: 0 10px 10px 10px;
      }

      .seller {
        margin-left: auto;
      }

    }

    .bottom-bar {
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      width: 100%;

      .shipping-price {
        border-left: none;
        display: block;
        width: 50%;
      }

      .condition {
        display: block;
        width: 50%;
      }

      div {
        display: none;
        text-align: center;
        border-left: 2px solid gray;
      }
    }
  }

  .top-deal {
    height: 430px;
    grid-row-start: 1;
    grid-row-end: 3;
    border: deeppink 1px solid;

    p {
      margin-top: 30px;
      width: 200px;
    }

    .top-bar .off-size {
      background-color: deeppink;
    }

    .bottom-bar {
      border-top: 2px dotted gray;
      margin-top: 18px;
      padding-top: 10px;
    }

    .top-bar {

      img {
        margin-left: 10%;
        width: 300px;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .product-block {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 1600px) {
  .product-block {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 1100px) {
  .product-block {
    grid-template-columns: auto;
  }
}

