 .reserv-block {
   width: 900px; background-color: #FEFBF6;
   margin: auto;
   form {
     width: 600px;
     height: 100%;
     margin: auto;
     padding: 20px;
     h2{
       border-bottom: 1px solid black;
     }

   }
 }
 .label-block{
   display: inline-block;
 }

 .seats{
   margin-left: 0px;
 }
.fst-block{
  margin-left: 100px;
  margin-top: 10px;

}
 .snd-block{
   margin-left: 138px;
   margin-top: 10px;

 }
 .thrd-block{
   margin-left: 140px;
   margin-top: 10px;

 }
 .frs-block{
   display: inline-block;
   margin-left: 75px;
   margin-top: 10px;
 }
 .fvs-block{
   margin-left: 90px;
   margin-top: 10px;
 }
 #submBtn{
   margin-left: 235px;
   margin-top: 10px;

 }

