.order_fomorm {
  //width: 500px;

  .selectCartItem {
    width: 200px;

  }

  #userComents {
    width: 270px;
    resize: none;
    height: 100px;
  }

  .order_block_wraper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20vw;
input:required{
  border: 1px solid grey;
  border-bottom: 1px solid red;
}
    input:invalid {
      background-color: #2344;
    }
    input:valid {
      //background-color: grey;
    }
    input {
      display: block;

    }

    label {
      display: block;
      margin-top: 10px;
    }
  }

  #billingBlock {
    display: inline-flex;

  }

  #deliveryBlock {
    display: inline-flex;

  }
}

#alert {
  opacity: 1;
}
