.registr_fomorm {
  margin: auto;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  label {
    width: 240px;
    text-align: end;
    display: inline-block;
    margin: 0px;


  }

  span {
    width: 240px;
    margin: 0px;
    text-align: end;
  }

  input {
    margin: 0px;
    width: 240px;
  }

  button {
    margin: 0px;
    width: 200px;
    align-self: center;
  }

}
#alert{
  opacity: 0;
}
#facebook_btn {
  width: 100px;
  margin: auto;
  margin-top: 10px;
}