.registr_fomorm {
  margin: auto;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.registr_fomorm label {
  width: 240px;
  text-align: end;
  display: inline-block;
  margin: 0px;
}
.registr_fomorm span {
  width: 240px;
  margin: 0px;
  text-align: end;
}
.registr_fomorm input {
  margin: 0px;
  width: 240px;
}
.registr_fomorm button {
  margin: 0px;
  width: 200px;
  align-self: center;
}

#alert {
  opacity: 0;
}

#facebook_btn {
  width: 100px;
  margin: auto;
  margin-top: 10px;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contacts div {
  width: 200px;
  height: 60px;
  border: 1px solid gray;
}

.slider {
  margin: auto;
  width: 200px;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
}

.slick-current {
  opacity: 1;
}

#resizable {
  width: 100px;
  height: 100px;
  background: #ccc;
}

.main-txt {
  height: 80vh;
}

.contact_form * {
  margin-top: 10px;
  margin-left: 10px;
}
.contact_form input[name=email] {
  margin-left: 13px;
}
.contact_form textarea {
  margin-left: 68px;
  width: 300px;
  height: 100px;
  resize: none;
}
.contact_form button {
  margin-left: 68px;
}

.product-block {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5px;
  justify-content: space-evenly;
}
.product-block .product-card {
  display: flex;
  width: 400px;
  height: 200px;
  border: 1px solid orange;
  flex-direction: column;
  font-family: "Roboto", sans-serif, serif;
  padding: 10px;
  color: gray;
  text-decoration: none;
}
.product-block .product-card:hover {
  border-width: 3px;
  padding: 8px;
}
.product-block .product-card:hover .name {
  text-decoration: underline;
}
.product-block .product-card .top-bar {
  width: 400px;
  display: flex;
  flex-direction: row;
}
.product-block .product-card .top-bar .off-size {
  border-radius: 50%;
  background-color: chocolate;
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  color: white;
}
.product-block .product-card .top-bar .off-size span {
  position: absolute;
  top: 50%;
  width: 45px;
  transform: translate(-50%, -50%);
}
.product-block .product-card .top-bar .name {
  display: block;
  margin-top: 70px;
  width: 200px;
}
.product-block .product-card .top-bar img {
  width: 160px;
  margin-left: auto;
}
.product-block .product-card .price-bar {
  display: flex;
  flex-direction: row;
  border-bottom: 2px dotted gray;
}
.product-block .product-card .price-bar .price {
  color: chocolate;
}
.product-block .product-card .price-bar .old-price {
  color: gray;
  position: relative;
}
.product-block .product-card .price-bar .old-price:before {
  content: "";
  border-bottom: 3px solid gray;
  position: absolute;
  width: 100%;
  height: 50%;
  transform: rotate(12deg);
}
.product-block .product-card .price-bar * {
  margin: 0 10px 10px 10px;
}
.product-block .product-card .price-bar .seller {
  margin-left: auto;
}
.product-block .product-card .bottom-bar {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.product-block .product-card .bottom-bar .shipping-price {
  border-left: none;
  display: block;
  width: 50%;
}
.product-block .product-card .bottom-bar .condition {
  display: block;
  width: 50%;
}
.product-block .product-card .bottom-bar div {
  display: none;
  text-align: center;
  border-left: 2px solid gray;
}
.product-block .top-deal {
  height: 430px;
  grid-row-start: 1;
  grid-row-end: 3;
  border: deeppink 1px solid;
}
.product-block .top-deal p {
  margin-top: 30px;
  width: 200px;
}
.product-block .top-deal .top-bar .off-size {
  background-color: deeppink;
}
.product-block .top-deal .bottom-bar {
  border-top: 2px dotted gray;
  margin-top: 18px;
  padding-top: 10px;
}
.product-block .top-deal .top-bar img {
  margin-left: 10%;
  width: 300px;
}

@media screen and (min-width: 1600px) {
  .product-block {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 1600px) {
  .product-block {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 1100px) {
  .product-block {
    grid-template-columns: auto;
  }
}
.slider {
  margin: auto;
  width: 200px;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
}

.slick-current {
  opacity: 1;
}

#resizable {
  width: 100px;
  height: 100px;
  background: #ccc;
}

body {
  font-family: "Arial", sans-serif;
}

p {
  vertical-align: middle;
  display: table-cell;
}

header {
  background-color: #336697;
  text-align: center;
  display: table;
  width: 100%;
  color: #000000;
  height: 10vh;
}

footer {
  background-color: #669900;
  text-align: center;
  color: white;
  height: 8vh;
  width: 100%;
  box-sizing: border-box;
  display: table;
}

.flex-container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

nav {
  background-color: #fe9900;
  padding: 20px 0 0 10px;
  width: 10vw;
}

aside {
  width: 20vw;
  background-color: #993366;
  padding: 20px 0 0 10px;
}

.main-txt {
  height: 80vh;
  width: 70vw;
  padding: 20px 0 10px 10px;
}
.main-txt .name-main {
  padding: 5px 0 10px 0;
  font-weight: bold;
}

@media screen and (max-width: 1600px) {
  .main-txt {
    height: unset;
  }
}
@media only screen and (max-width: 800px) {
  .flex-container {
    all: unset;
  }

  nav {
    height: 7vh;
    display: table;
    width: 100%;
    padding: 0;
  }
  nav P {
    padding-left: 10px;
  }

  aside {
    height: 7vh;
    display: table;
    width: 100%;
    padding: 0;
  }
  aside P {
    padding-left: 10px;
  }

  .main-txt {
    padding: 20px 0 10px 10px;
    box-sizing: border-box;
    height: 68vh;
    display: table;
    width: 100%;
  }
  .main-txt .name-main {
    padding: 5px 0 10px 0;
    font-weight: bold;
  }
}
.order_fomorm .selectCartItem {
  width: 200px;
}
.order_fomorm #userComents {
  width: 270px;
  resize: none;
  height: 100px;
}
.order_fomorm .order_block_wraper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20vw;
}
.order_fomorm .order_block_wraper input:required {
  border: 1px solid grey;
  border-bottom: 1px solid red;
}
.order_fomorm .order_block_wraper input:invalid {
  background-color: #2344;
}
.order_fomorm .order_block_wraper input {
  display: block;
}
.order_fomorm .order_block_wraper label {
  display: block;
  margin-top: 10px;
}
.order_fomorm #billingBlock {
  display: inline-flex;
}
.order_fomorm #deliveryBlock {
  display: inline-flex;
}

#alert {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
