* {
  box-sizing: border-box;
}

.button-block {
  display: block;
  width: 140px;
  border: 1px solid #666666;
  border-radius: 6px;
}
.button-block .back-side {
  border-radius: 5px;
  display: block;
  width: 136px;
  margin: 1px;
  background-color: #cbcbcb;
}
.button-block .back-side .my-button {
  margin: 3px;
  box-shadow: 0px 1px 1px 0px #606061, 0px 15px 0px 0px #d6d6d6 inset;
  background: linear-gradient(to bottom, #e0e0e1 40%, #929292 100%);
  border-radius: 4px;
  border: 1px solid #ababab;
  display: inline-block;
  cursor: pointer;
  color: #555555;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 0.7px 0px #dcdcdd;
}
.button-block .back-side .my-button span {
  color: #888888;
}
.button-block .back-side .my-button:hover {
  box-shadow: 0px 1px 1px 0px #606061, 0px -15px 0px 0px #d6d6d6 inset;
  background: linear-gradient(to top, #e0e0e1 40%, #929292 100%);
}
.button-block .back-side .my-button:active {
  box-shadow: 0px -1px 1px 0px #606061 inset, 0px -15px 0px 0px #d6d6d6 inset;
  position: relative;
  top: 1px;
  left: 1px;
}

/*# sourceMappingURL=style.css.map */
