.product-block {
  display: grid;
  width: 100%;
  grid-gap: 5px;
  margin: auto;
}
.product-block .product-card {
  position: relative;
  display: flex;
  width: 400px;
  height: 200px;
  border: 1px solid orange;
  flex-direction: column;
  font-family: "Roboto", sans-serif, serif;
  padding: 10px;
  color: gray;
  text-decoration: none;
}
.product-block .product-card:hover {
  border-width: 3px;
  padding: 8px;
}
.product-block .product-card:hover .name {
  text-decoration: underline;
}
.product-block .product-card .top-bar {
  width: 400px;
  display: flex;
  flex-direction: row;
}
.product-block .product-card .top-bar .off-size {
  border-radius: 50%;
  background-color: chocolate;
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  color: white;
}
.product-block .product-card .top-bar .off-size span {
  position: absolute;
  top: 50%;
  width: 45px;
  transform: translate(-50%, -50%);
}
.product-block .product-card .top-bar .name {
  margin-top: 70px;
  width: 200px;
}
.product-block .product-card .top-bar img {
  width: 160px;
  margin-left: auto;
}
.product-block .product-card .price-bar {
  display: flex;
  flex-direction: row;
  border-bottom: 2px dotted gray;
}
.product-block .product-card .price-bar .price {
  color: chocolate;
}
.product-block .product-card .price-bar .old-price {
  color: gray;
  position: relative;
}
.product-block .product-card .price-bar .old-price:before {
  content: "";
  border-bottom: 3px solid gray;
  position: absolute;
  width: 100%;
  height: 50%;
  transform: rotate(12deg);
}
.product-block .product-card .price-bar * {
  margin: 0 10px 10px 10px;
}
.product-block .product-card .price-bar .seller {
  margin-left: auto;
}
.product-block .product-card .bottom-bar {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.product-block .product-card .bottom-bar .shipping-price {
  border-left: none;
  display: block;
  width: 50%;
}
.product-block .product-card .bottom-bar .condition {
  display: block;
  width: 50%;
}
.product-block .product-card .bottom-bar div {
  display: none;
  text-align: center;
  border-left: 2px solid gray;
}
.product-block #item-6 {
  grid-row-start: 3;
  grid-row-end: 6;
}
.product-block .top-deal {
  height: 430px;
  grid-row-start: 1;
  grid-row-end: 3;
  border: deeppink 1px solid;
}
.product-block .top-deal p {
  width: 200px;
}
.product-block .top-deal .top-bar .off-size {
  background-color: deeppink;
}
.product-block .top-deal .bottom-bar {
  border-top: 2px dotted gray;
  padding-top: 20px;
}
.product-block .top-deal .top-bar img {
  margin-left: 10%;
  width: 300px;
}

@media screen and (min-width: 1200px) {
  .product-block {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 1199px) {
  .product-block {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 992px) {
  .product-block {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 766px) {
  .product-block {
    grid-template-columns: auto;
  }
}

/*# sourceMappingURL=style.css.map */
