.reserv-block {
  width: 900px;
  background-color: #FEFBF6;
  margin: auto;
}
.reserv-block form {
  width: 600px;
  height: 100%;
  margin: auto;
  padding: 20px;
}
.reserv-block form h2 {
  border-bottom: 1px solid black;
}

.label-block {
  display: inline-block;
}

.seats {
  margin-left: 0px;
}

.fst-block {
  margin-left: 100px;
  margin-top: 10px;
}

.snd-block {
  margin-left: 154px;
  margin-top: 10px;
}

.thrd-block {
  margin-left: 175px;
  margin-top: 10px;
}

.frs-block {
  display: inline-block;
  margin-left: 75px;
  margin-top: 10px;
}

.fvs-block {
  margin-left: 90px;
  margin-top: 10px;
}

#submBtn {
  margin-left: 277px;
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
