body {
  font-family: Arial;
}

p {
  vertical-align: middle;
  display: table-cell;
}

header {
  background-color: #336697;
  text-align: center;
  display: table;
  width: 100%;
  color: white;
  height: 8vh;
  box-sizing: border-box;
}

footer {
  background-color: #669900;
  text-align: center;
  color: white;
  height: 8vh;
  width: 100%;
  box-sizing: border-box;
  display: table;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 120px auto 120px;
  height: 82vh;
  width: 100%;
  box-sizing: border-box;
}

aside {
  background-color: #993366;
  padding: 20px 0 10px 10px;
  box-sizing: border-box;
}

nav {
  background-color: #fe9900;
  padding: 20px 0 10px 10px;
  box-sizing: border-box;
}

.main-txt {
  box-sizing: border-box;
  padding: 20px 0 10px 10px;
}
.main-txt .name-main {
  padding: 5px 0 10px 0;
  font-weight: bold;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .grid-container {
    all: unset;
  }

  nav {
    height: 7vh;
    display: table;
    width: 100%;
    padding: 0;
  }
  nav P {
    padding-left: 10px;
  }

  aside {
    height: 7vh;
    display: table;
    width: 100%;
    padding: 0;
  }
  aside P {
    padding-left: 10px;
  }

  .main-txt {
    padding: 20px 0 10px 10px;
    box-sizing: border-box;
    height: 68vh;
    display: table;
    width: 100%;
  }
  .main-txt .name-main {
    padding: 5px 0 10px 0;
    font-weight: bold;
  }
}

/*# sourceMappingURL=style.css.map */
