body {
  font-family: Arial;
}

p {
  vertical-align: middle;
  display: table-cell;
}

header {
  background-color: #336697;
  text-align: center;
  width: 100%;
  color: white;
  display: table;
  box-sizing: border-box;
  height: 9vh;
}

footer {
  background-color: #669900;
  text-align: center;
  color: white;
  width: 100%;
  box-sizing: border-box;
  display: table;
  height: 9vh;
}

.flex-container {
  display: flex;
  height: 80vh;
  width: 100%;
  align-items: stretch;

}

nav {
  background-color: #fe9900;
  flex: 0 0 120px;
  padding: 20px 0 0 10px;
}

aside {
  flex: 0 0 120px;
  background-color: #993366;
  padding: 20px 0 0 10px;
}

.main-txt {
  padding: 20px 0 10px 10px;

  .name-main {
    padding: 5px 0 10px 0;
    font-weight: bold;
  }
}

@media only screen and (max-width: 800px) {
  .flex-container {
    all: unset;
  }

  nav {
    height: 7vh;
    display: table;
    width: 100%;
    padding: 0;

    P {
      padding-left: 10px;
    }
  }

  aside {
    height: 7vh;
    display: table;
    width: 100%;
    padding: 0;

    P {
      padding-left: 10px;
    }
  }

  .main-txt {
    padding: 20px 0 10px 10px;
    box-sizing: border-box;
    height: 66vh;
    display: table;
    width: 100%;

    .name-main {
      padding: 5px 0 10px 0;
      font-weight: bold;
    }
  }
}
