body {
  background: #333333;

  .dynamic-block {
    background-color: #ECECEC;
    height: 500px;
    border-radius: 20px;

    header {
      padding: 10px;
    }

    nav {
      background-color: #144C85;

      button {
        background-color: #5393BD;
        margin: 10px;
        border-radius: 20px;
      }
    }

    .hide {

    }

    .show {
      display: block;
    }

    main {
      position: absolute;
      margin: 20px;
      display: none;
    }
  }
}