body {
  background: #333333;
}
body .dynamic-block {
  background-color: #ECECEC;
  height: 500px;
  border-radius: 20px;
}
body .dynamic-block header {
  padding: 10px;
}
body .dynamic-block nav {
  background-color: #144C85;
}
body .dynamic-block nav button {
  background-color: #5393BD;
  margin: 10px;
  border-radius: 20px;
}
body .dynamic-block .show {
  display: block;
}
body .dynamic-block main {
  position: absolute;
  margin: 20px;
  display: none;
}

/*# sourceMappingURL=style.css.map */
