* {
  box-sizing: border-box;
}

.page-wrap {
  width: 800px;
  margin: 20px auto;
}

.main-story {
  position: relative;
  margin: 0 0 25px 0;
}

img {
  display: block;
}

a {
  color: lightblue;
}

.story-intro {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  color: white;
}

h1 {
  font-size: 4em;
}

h1, h2 {
  margin: 0 0 10px 0;
}

.story-intro h1 {
  font-size: 2.5em;
}

.story-intro p {
  margin: 0;
}

.sub-stories {
  overflow: hidden;
  margin: 0 0 25px 0;
}

.sub-story {
  float: left;
  width: 250px;
  margin-right: 25px;
  position: relative;
  font-size: 80%;
}

.last {
  margin-right: 0;
}

@media screen and (max-width: 991px) {
  .page-wrap {
    width: 82vh;
  }

  .sub-story {
    display: inline-block;
    float: unset;
    width: 40vh;
    margin: 0 1vh 2vh 0;
  }
  .sub-story img {
    width: 40vh;
    height: unset;
  }

  #firstStory {
    float: left;
  }

  .main-story {
    width: 80vh;
  }
  .main-story img {
    width: 80vh;
  }
}
@media screen and (max-width: 768px) {
  .sub-story {
    display: block;
    float: unset;
    width: 80vh;
    margin-top: 25px;
  }
  .sub-story img {
    width: 80vh;
    height: unset;
  }

  .main-story {
    width: 80vh;
  }
  .main-story img {
    width: 80vh;
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-color: gray;
  }
}

/*# sourceMappingURL=style.css.map */
