body {
  font-family: Arial;
}

p {
  vertical-align: middle;
  display: table-cell;
}

header {
  background-color: #336697;
  text-align: center;
  display: table;
  width: 100%;
  color: white;
  height: 8vh;
}

footer {
  background-color: #669900;
  text-align: center;
  color: white;
  height: 8vh;
  width: 100%;
  box-sizing: border-box;
  display: table;
}

.float-container {
  width: 100%;
  box-sizing: border-box;
}

aside {
  float: right;
  background-color: #993366;
  padding: 20px;
  width: 20%;
  box-sizing: border-box;
  height: 82vh;

}

nav {
  float: left;
  background-color: #fe9900;
  padding: 10px;
  width: 20%;
  box-sizing: border-box;
  height: 82vh;

}

.main-txt {
  float: left;
  width: 60%;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;

  .name-main {
    font-size: 30px;
    padding: 5px 0 10px 0;
    font-weight: bold;
  }
}

@media only screen and (max-width: 800px) {
  .float-container {
    all: unset;
  }

  nav {
    height: 7vh;
    display: table;
    width: 100%;
    padding: 0;

    P {
      padding-left: 10px;
    }
  }

  aside {
    height: 7vh;
    display: table;
    width: 100%;
    padding: 0;

    P {
      padding-left: 10px;
    }
  }

  .main-txt {
    padding: 20px 0 10px 10px;
    box-sizing: border-box;
    height: 68vh;
    display: table;
    width: 100%;

    .name-main {
      padding: 5px 0 10px 0;
      font-weight: bold;
    }
  }
}