body {
  font-family: "Arial", sans-serif;
}

p {
  vertical-align: middle;
  display: table-cell;
}

header {
  background-color: #336697;
  text-align: center;
  display: table;
  width: 100%;
  color: white;
  height: 10vh;
}

footer {
  background-color: #669900;
  text-align: center;
  color: white;
  height: 8vh;
  width: 100%;
  box-sizing: border-box;
  display: table;
}

.flex-container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

nav {
  background-color: #fe9900;
  padding: 20px 0 0 10px;
  width: 10vw;
}

aside {
  width: 10vw;
  background-color: #993366;
  padding: 20px 0 0 10px;
}

.main-txt {
  height: 80vh;
  width: 90vw;
  padding: 20px 0 10px 10px;
}
.main-txt .name-main {
  padding: 5px 0 10px 0;
  font-weight: bold;
}

@media screen and (max-width: 1600px) {
  .main-txt {
    height: unset;
  }
}
@media only screen and (max-width: 800px) {
  .flex-container {
    all: unset;
  }

  nav {
    height: 7vh;
    display: table;
    width: 100%;
    padding: 0;
  }
  nav P {
    padding-left: 10px;
  }

  aside {
    height: 7vh;
    display: table;
    width: 100%;
    padding: 0;
  }
  aside P {
    padding-left: 10px;
  }

  .main-txt {
    padding: 20px 0 10px 10px;
    box-sizing: border-box;
    height: 68vh;
    display: table;
    width: 100%;
  }
  .main-txt .name-main {
    padding: 5px 0 10px 0;
    font-weight: bold;
  }
}

/*# sourceMappingURL=bodySt.css.map */
