* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.todo-list {
  margin: 100px;
  border: 1px solid #cececf;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  width: 240px;
  border-collapse: collapse;

  header {
    color: #5e6a78;
    padding: 10px;
    background-image: linear-gradient(#FAFAFA, #DFDFDF);
  }

  div {
    padding: 20px;
    border-top: 2px solid #f5f6f8;
    border-collapse: inherit;
  }
}

.todo-clause {
  position: relative;


  label.circle {
    margin: 20px 20px 0 20px;
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    top: 2px;
    left: 2px;
    z-index: 1;
    border: 2px solid gray;

  }

  label.circle-checked {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    border: 3px solid #3cbe70;
    border-top: none;
    border-right: none;
    width: 9px;
    height: 6px;
    opacity: 0;
    transform: rotate(-45deg);
    top: 28px;
    left: 27px;
    z-index: 2;
  }

  label.text {
    cursor: pointer;
    color: #71777b;
    margin-left: 35px;
  }

  span.text {
    color: #71777b;
    margin-left: 35px;
  }

  [type=checkbox] {
    display: none;

  }

  .check-block {
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
    background-color: chocolate;
  }

  input[type=checkbox]:checked ~ label.text {
    text-decoration: line-through;
    color: #3cbe70;
  }

  input[type=checkbox]:checked ~ span.text {
    text-decoration: line-through;
    color: #3cbe70;

  }

  input[type=checkbox]:checked ~ label.circle {
    background-color: white;
    border: 2px solid #3cbe70;

  }

  input[type=checkbox]:checked ~ label.circle-checked {
    opacity: 1;

  }
}

