.rainbow {
  height: 500px;
  border: 2px solid purple;
}
.rainbow .sort-color {
  height: 50px;
}
.rainbow .green {
  background-color: green;
}
.rainbow .Blue {
  background-color: blue;
}
.rainbow .Orange {
  background-color: orange;
}
.rainbow .Violet {
  background-color: violet;
}
.rainbow .Yellow {
  background-color: yellow;
}
.rainbow .Red {
  background-color: red;
}
.rainbow .Light-blue {
  background-color: lightblue;
}

/*# sourceMappingURL=style.css.map */
