.rainbow {
  height: 500px;
 border: 2px solid purple;
  .sort-color {
    height: 50px;
  }

  .green {
    background-color: green;
  }

  .Blue {
    background-color: blue;
  }

  .Orange {
    background-color: orange;
  }

  .Violet {
    background-color: violet;
  }

  .Yellow {
    background-color: yellow;
  }
.Red{
  background-color: red;
}
  .Light-blue{
    background-color:lightblue;
  }
}