.carousel-wrapper {
  position: relative;
}
.carousel-wrapper .carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
}
.carousel-wrapper .carousel-item main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
}
.carousel-wrapper .carousel-item .arrow {
  position: absolute;
  top: 0;
  display: block;
  width: 50px;
  height: 100%;
  background: url("../img/pngwave.png") 50% 50%/20px no-repeat;
  transform: rotate(180deg);
}
.carousel-wrapper .carousel-item .arrow.arrow-prev {
  left: 0;
}
.carousel-wrapper .carousel-item .arrow.arrow-next {
  right: 0;
  transform: rotate(0deg);
}
.carousel-wrapper [id^=target-item] {
  display: none;
}
.carousel-wrapper .circle-block {
  margin-left: 50%;
  margin-right: 50%;
}
.carousel-wrapper .circle {
  border: 1px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  display: block;
  bottom: 50px;
  cursor: pointer;
}
.carousel-wrapper .circle-1 {
  margin-left: -30px;
}
.carousel-wrapper .circle-3 {
  margin-left: 30px;
}
.carousel-wrapper .item-1 .circle-1 {
  display: block;
  background-color: cornsilk;
}
.carousel-wrapper .item-2 .circle-2 {
  display: block;
  background-color: cornsilk;
}
.carousel-wrapper .item-3 .circle-3 {
  display: block;
  background-color: cornsilk;
}
.carousel-wrapper \*:target ~ .item-1 {
  opacity: 0;
}
.carousel-wrapper #target-item-1:target ~ .item-1 {
  opacity: 1;
  z-index: 3;
  background-color: cornflowerblue;
}
.carousel-wrapper #target-item-2:target ~ .item-2 {
  background-color: red;
  z-index: 3;
  opacity: 1;
}
.carousel-wrapper #target-item-3:target ~ .item-3 {
  background-color: gray;
  z-index: 3;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
