
.main-txt {
  height: 80vh;
}

form {
  * {
    margin-top: 10px;
    margin-left: 10px;
  }

  input[name='email'] {
    margin-left: 13px;
  }

  textarea {
    margin-left: 68px;
    width: 300px;
    height: 100px;
    resize: none;
  }

  button {
    margin-left: 68px;
  }
}